# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Vector databases / embeddings
faiss_index/
chroma/
*.faiss
*.pkl

# Model / cache files
.cache/
models/
huggingface/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build / distribution
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.bak


# Chat history JSON
chat_history.json

# Database file
*.db